.sidebar {
    grid-area: nav;
    background-color: darkgrey;
    padding: 20px;
}

.item a{
    color: red;
    text-decoration:none;
}

.item a:focus{
    color: blue;
}

img{
    width: 40px;
    height: 40px;
}